*{
  margin: 0px;
  background-color: rgb(33, 33, 33);
  color: white;
}

button{
  background-color: rgb(72, 70, 70);
  color: white;
}
#new-book{
  position: fixed;
  top: 1px;
  left: 44%;
  padding: 10px;
  border-radius: 12px;
  font-size: 18px;
}
.wrapperDiv{
  display: flex;
  gap: 10px;
  margin: 100px 35% 50px 35%;
  font-size: 18px;
  flex-wrap: wrap;
}